@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tiro+Bangla:ital@0;1&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

::selection {
  background: #209187;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #209187;
  color: #ffffff;
  text-shadow: none;
}


/* Entire scrollbar */
html body::-webkit-scrollbar {
  width: 5px;
}

/* Scrollbar Track */
html body::-webkit-scrollbar-track {
  background: #209187;
}

/* Scrollbar Thumb */
html body::-webkit-scrollbar-thumb {
  background: #209187;
  border-radius: none;
}

/* Scrollbar Thumb on hover */
html body::-webkit-scrollbar-thumb:hover {
  background: #00ffea;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #209187;
    --color-secondary: #27292b;
    --color-accent: #e0ad1f;
}


body {
    font-family: "Roboto", "Tiro Bangla", serif;
}

.scrollBar {
    scrollbar-width: thin;
    scrollbar-color: #209187 transparent;
}